<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noisemaker</title>
</head>
<body>
<h1>Specific Noises</h1>
<ul>
    {% for noise in noises %}
        <li><button onclick="makeNoise('{{ noise.name}}')">{{ noise.name }}</button></li>
    {% endfor %}
</ul>
<h1>Random Groups of Noises</h1>
<ul>
    {% for noise in groups %}
        <li><button onclick="makeNoise('{{ noise.name}}')">{{ noise.name }}</button></li>
    {% endfor %}
</ul>
</body>
</html>

<script>
function makeNoise(slug) {
    // Makes an XHTML request in the background to the noise-making API endpoint
    // This makes the server's speakers squak
    var oReq = new XMLHttpRequest();
    oReq.open("get", "/play_noise/" + slug, true);
    oReq.send();
}

</script>